{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ECOmmerce Login Page</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'home/css/bootstrap/css/bootstrap.min.css' %}">

  <!-- Custom styles for this template -->
  <link href="{% static 'home/css/small-business.css' %}" rel="stylesheet">

</head>

<body>

  {% block navbar %}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{%url 'Home Page'%}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'About Us'%}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'Products'%}">Products</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item nav-link display_text">User: {{ user.get_username }}</li>
            <li class="nav-item display_text"><a class="nav-link" href="{% url 'logout'%}?next={% url 'Home Page' %}">logout</a></li>
          {% else %}
            <li class="nav-item display_text"><a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
          {% endif %}
          {% if user.is_staff %}
          <li class="nav-item nav-link display_text" id="staff">staff</li>
          {% endif %} 
        </ul>
      </div>
    </div>
  </nav>
  {% endblock navbar %}
  
  {% block content %}
  
  {% endblock content %}

  {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %} 
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; ECOmmerce Web App 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
